__pycache__
*.pyc
*.pyo
*.pyd
.gitignore
.git

template.py
data
notebooks
results
saved_models/model.h5
saved_models/prev_Final_model.h5

env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
.idea

Dockerfile